#mapa{
  width: 100%;
  height: 400px;
}

.contenedor-imagenes {
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contenedor-imagen {
  display: flex;
  align-items: start;
  margin: 10px;
}

.btn-primary {
  background-color: #6a11cb; /* Use a vibrant color for primary actions */
  border-color: #6a11cb;
  border-radius: 20px;
  padding: 8px 15px;
}

.btn-success{
  border-radius: 20px;
  padding: 8px 15px;
}

.btn-primary:hover {
  background-color: #6a11cb; /* Darker shade on hover */
}
