<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Cambiar contraseña</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="email">Contraseña nueva:</label>
              <input type="email" class="form-control"   name="contrasenia" required>
            </div>
            <div class="form-group">
              <label for="email">Confirmar contraseña:</label>
              <input type="email" class="form-control"  name="contraseniaConfirmada" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block" >Cambiar contraseña</button>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
