<div class="business-details">
    <h1>{{ business.name }}</h1>
    <p>{{ business.description }}</p>
    <p><strong>Propietario:</strong> {{ businessOwner }}</p>
    <div>
        <div id="businessImagesCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let image of business.images; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
                <img [src]="image" class="d-block w-100" alt="Business Image">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#businessImagesCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#businessImagesCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    <div class="business-rating">
      <p>Calificación: {{ business.rating }} <span *ngFor="let star of [1,2,3,4,5]; let i = index" class="star" [ngClass]="{'filled': i < business.rating}">&#9733;</span></p>
    </div>
    <div class="comments-section">
      <h2>Comentarios</h2>
      <div *ngFor="let comment of business.comments" class="comment">
        <p><strong>{{ comment.user }}</strong> - <span *ngFor="let star of [1,2,3,4,5]; let i = index" class="star" [ngClass]="{'filled': i < comment.rating}">&#9733;</span></p>
        <p>{{ comment.text }}</p>
      </div>
      <h3>Agregar Comentario</h3>
      <div class="add-comment">
        <input type="text" [(ngModel)]="newComment.user" placeholder="Tu nombre">
        <select [(ngModel)]="newComment.rating">
          <option *ngFor="let star of [1,2,3,4,5]" [value]="star">{{ star }} &#9733;</option>
        </select>
        <textarea [(ngModel)]="newComment.text" placeholder="Tu comentario"></textarea>
        <button (click)="addComment()">Enviar</button>
      </div>
    </div>
  </div>
  