<div class="container mt-5">
    <div class="card-header bg-dark text-white">
        <h4 class="mb-0"> LISTA DE PENDIENTES</h4>
      </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Imagen de Negocio</th>
          <th>Descripción</th>
          <th>Comentario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let business of businesses">
          <td>
            <div style="display: flex; align-items: center;">
              <img src="https://picsum.photos/200/300" alt="Imagen de usuario" style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
              <div>{{ business.name }}</div>
            </div>
          </td>
          <td>
            <img src="https://picsum.photos/200/300" alt="Imagen de negocio" style="width: 100px; height: 100px;">
          </td>
          <td>{{ business.description }}</td>
          <td>
            <textarea [(ngModel)]="business.comment" class="form-control" placeholder="Comentario"></textarea>
          </td>
          <td>
            <button (click)="approve(business.id, business.comment)" class="btn btn-success mt-2">Autorizar</button>
            <button (click)="reject(business.id, business.comment)" class="btn btn-danger mt-2">Rechazar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  