<div class="container-fluid navbar-custom navbar-enhanced">
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center
    justify-content-md-between py-3">
      <div class="col-md-3 mb-2 mb-md-0">
        <a routerLink="" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="../assets/LogoUnilocal.png" alt="UniLoCal" class="logo-img">
            <h4 class="title-class">{{title}}</h4>
        </a>
      </div>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="" class="nav-link px-2 link-secondary">Inicio</a></li>
        @if (isLogged) {
          @if (isLoggedCliente) {
            <li><a routerLink="/lista-recomendados" class="nav-link px-2">Recomendados</a></li>
            <li><a routerLink="/lista-negocios" class="nav-link px-2">Mis negocios</a></li>
            <li><a routerLink="/lista-favoritos" class="nav-link px-2">Favoritos</a></li>
          } @else {
            <li><a routerLink="/lista-pendientes" class="nav-link px-2">Mis Autorizaciones</a></li>
            <li><a routerLink="/historial-revisiones-moderador" class="nav-link px-2">Mi Historial</a></li>
          }
        }
      </ul>
      <div class="col-md-3 text-end">
        @if (!isLogged) {
          <button type="button" routerLink="/login" class="btn btn-outline-primary me-2">Login</button>
          <button type="button" routerLink="/registro" class="btn btn-outline-primary">Registro</button>
        } @else {
          <label class="me-3">{{email}}</label>
          <button type="button" routerLink="/editar-usuario" class="btn btn-link me-2">Editar Perfil</button>
          <button type="button" (click)="logout()" class="btn btn-link">Logout</button>
        }
      </div>
    </header>
  </div>
</div>



<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<div class="container-fluid footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4
    border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary text-white ">{{footer}}</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-x-twitter
    fs-5"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-instagram
    fs-5"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-facebook
    fs-5"></i></a></li>
    </ul>
  </footer>
</div>

