/* negocios.component.css */
  .table {
    width: 100%;
  }

  img {
    max-width:150px;
    border-radius: 10px;
  }

  button i {
    margin-right: 5px;
  }

  .text-success {
    color: green;
  }

  .text-danger {
    color: black;
  }


  .btn-primary {
    background-color: #9f14c2a2;
    border-color: #9f14c28c;
    border-radius: 20px;
    padding: 8px 15px;
  }

  .btn-primary:hover {
    background-color: #9f14c2;
    border-color: #9f14c2fb;
  }

  .btn-success{
    border-radius: 20px;
    padding: 8px 15px;
  }

  .btn-danger{
    border-radius: 20px;
    padding: 8px 15px;
  }
