.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .revision-item {
    padding: 20px;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }

    .avatar {
      width: 100px;
    }

    .status {
      margin-left: 20px;

      .badge {
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 20px;
      }
    }

    .date {
      margin-left: 20px;
      color: #666;
    }
  }
}


