<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center">
            <h4 class="mb-0">HISTORIAL DE REVISIONES</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col-3">
                    <button type="button" class="btn btn-outline-success" (click)="historicoAprobados()">Ver aprobados</button>
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-outline-danger" (click)="historicoRechazados()">Ver rechazados</button>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="revision-item" *ngFor="let negocio of lugares">
                    <div class="d-flex align-items-center">
                      <div class="avatar">
                        <img src="{{negocio.imagen}}" alt="Imagen de negocio" class="img-fluid">
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <h5>{{ negocio.nombreNegocio }}</h5>
                        <p>{{ negocio.observacion }}</p>
                      </div>
                      <div class="status">
                        <span
                          class="badge"
                          [ngClass]="{
                            'bg-success': negocio.estadoNegocio === 'APROBADO',
                            'bg-danger': negocio.estadoNegocio === 'RECHAZADO'
                          }"
                        >
                          {{ negocio.estadoNegocio }}
                        </span>
                      </div>
                      <div class="date">
                        <i class="fa-regular fa-calendar"></i>
                        {{ negocio.fechaAccion| date: "dd/MM/yyyy" }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
